* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
}
.head{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: #FFB30E;
    font-size: 30px;
    padding-top: 5px;

}
.location{
    padding-top:20px;
    font-size: 14px;
}
.btn{
    height: 30pxpx;
    text-align: center;
    background-color: white;
    border: 1px solid #FFB30E;
    color: #FFB30E;
    padding: 4px 20px;
    margin: 10px;
    font-weight: bold;
}
.reactangle-1{
    width: 100%;
    height: 400px;
    background-color: #FDBE35;
}
.look{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: #fff;
    font-size: 35px;
    word-spacing: 8px;
    padding-top: 50px;
    font-style: italic;
}
.top{
    background-color: #fff;
    padding: 20px;
}
#delivery{
    border: none;
    background-color: rgba(241, 114, 40, 0.10);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: #F17228;
}
#pickup{
    border: none;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: #000;
}
input{
    width: 300px;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    padding-left: 10px;
}
hr{
    margin: 0;
    padding: 1rem;
    color: #424242;
}
.tab2{
    margin-top: 0px;
    position: relative;
}
.find{
    border-radius: 8px;
    color: #fff;
    border: none;
    padding: 5px 15px;
background: linear-gradient(96deg, #FF7A7A -39.64%, #F65900 135.31%);
}
.leaf{  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 70%;        
}
h1{
    text-align: center;
    margin-top: 80px;
    color: #F17228;
}
.reactangle2{
    margin-top: 60px;
    box-shadow: 0px 5px 27px 11px rgba(255, 181, 21, 0.10);
    display: flex;
    justify-content: center;
    width: ;
}
.p1{
    
/* Headline 5 Bold */
font-family: Source Sans Pro;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 42px */
    background: linear-gradient(93deg, #FB3C00 -47.72%, #FFB800 136.81%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width: 170px;
margin: 30px;
border-right: 3px solid #CFCFCF;
}
.p2{
    
    /* Headline 5 Bold */
    font-family: Source Sans Pro;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 42px */
        background: linear-gradient(93deg, #FB3C00 -47.72%, #FFB800 136.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 170px;
    margin: 30px;
 
}
.reactangle3{
    margin-top: 70px;
    background-color: #F6F5EE;
    width: 100%;
    height: 350px;
}
.deals{
    padding-top: 60px;
    height: 400px;
}
.crispy{
    display: block;
    align-items: center;
    justify-content: center;
}
#order{
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #ff8a00;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    margin-top: 40px;
    box-shadow: 0px 14px 32px 0px rgba(255, 178, 14, 0.29), 0px 5px 8px 0px rgba(222, 151, 0, 0.24);
}
.items{
    padding-top: 20px;
}
.items1{
    padding-top: 50px;
}
#now{
    width: 100%;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    background-color: #F17228;
    box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.24), 0px 5px 10px 0px rgba(253, 114, 92, 0.22);
}
.papular{
    padding-bottom: 70px;
}
.reactangle4{
    background-color: #000;
    height: 300px;
    
}
.col-lg-1{
    border-top: 2px solid #424242;
}

.foot{
    display: grid;
    grid-template-columns: 15% 15% 35% 30%;
    grid-template-columns: ;
    color: #fff;
    padding-top: 20px;
    margin: 1rem 3rem 0rem 3rem;
    line-height: 2rem;
    font-size: 14px;
    border-top: 2px solid #424242;
    border-bottom: 2px solid #424242;
}

.link li a{
    color: #fff;
    text-decoration: none;
    color: #F5F5F5;
}

.link {
    list-style: none;
}

.follow{
    color: #f5f5f5;
    opacity: 70%;
}
.follow .icons a{
    color: #f5f5f5;
    
}

.sub{
    width: 120px;
    border: none;
    font-weight: bold;
    color: #fff;
    border-radius: 8px;
    background: var(--yellow-button, linear-gradient(93deg, #FFB800 -47.72%, #FF8A00 136.81%));
    box-shadow: 0px 14px 32px 0px rgba(255, 178, 14, 0.29), 0px 5px 8px 0px rgba(222, 151, 0, 0.24);
}
